<!--<nav class="navbar navbar-inverse " role="navigation"> &lt;!&ndash; navbar-fixed-top &ndash;&gt;
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Furnitalia Incoming Shipments</a> &lt;!&ndash; [routerLink] here is a workaround: rc.1 router requires a link to base url &ndash;&gt; &lt;!&ndash; [routerLink]="['/']" &ndash;&gt;
    </div>

    &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ furnicloudURL }}">Back to FurniCloud</a></li>
      </ul>
    </div>
    &lt;!&ndash; /.navbar-collapse &ndash;&gt;
  </div>
  &lt;!&ndash; /.container &ndash;&gt;
</nav>-->

<div class="container">
  <div class="row">

    <!--<div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>-->
    <p-growl></p-growl>

    <app-warehouse-receiving></app-warehouse-receiving>
  </div>
</div>

<!--<div class="container">
  <hr>
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p><a href="http://cloud.furnitalia.com">FurniCloud</a></p>
      </div>
    </div>
  </footer>
</div>-->

