<p-dataTable #dt [value]="incomingShipments" [(selection)]="incomingShipment" (onRowSelect)="onRowSelect($event)"
             selectionMode="single" expandableRows="true" [paginator]="true" rows="15" [responsive]="true"
             sortField="date" [sortOrder]="-1" [loading]="loading" > <!-- [expandedRows]="expandedRows" -->
  <p-header>Recently Received Shipments</p-header>
  <p-column expander="true" styleClass="col-icon" [style]="{width: '3em'}"></p-column>
  <p-column field="date" header="Date" [sortable]="true">
    <ng-template pTemplate="body" let-col let-shipment="rowData">
      <!-- <span>{{ moment(shipment[col.field]).format('MMM Do YY, h:mm a')  }}</span>  | date:'yyyy-MM-dd hh:mm a':'PDT' || '' -->
      <!-- <span>{{ shipment[col.field] | date:'yyyy-MM-dd hh:mm a' || '' }}</span> -->
      <span>{{ shipment[col.field] | date:'MMM d, y, h:mm a' || '' }}</span>
    </ng-template>
  </p-column>
  <p-column field="vendor" header="Vendor" [sortable]="true"></p-column>
  <p-column field="received_by" header="Received By" [sortable]="true">
    <ng-template pTemplate="body" let-col let-shipment="rowData">
      <span>{{ getAssociateName(shipment[col.field]) }}</span>
    </ng-template>
  </p-column>
  <p-column field="num_boxes" header="# of Boxes"></p-column>
  <p-column header="# of Items">
    <ng-template pTemplate="body" let-col let-shipment="rowData">
      <span>{{ shipment.items.length }}</span>
    </ng-template>
  </p-column>

  <ng-template let-incomingShipment pTemplate="rowexpansion">
    <!--<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3" style="text-align:center">
          <i class="fa fa-search" style="cursor:pointer;float:left;margin-top:40px"></i>
          {{ shipment.description }}
        </div>
        <div class="ui-grid-col-9" *ngFor="let item of shipment.items ">
          <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 label">PO#:</div>
              <div class="ui-grid-col-10">{{ item.po_num }}</div>
            </div>
            <div class="ui-grid-row" *ngIf="item.sale_item">
              <div class="ui-grid-col-2 label">SO#:</div>
              <div class="ui-grid-col-10">{{ item.so_num }}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2 label">Items:</div>
              <div class="ui-grid-col-10">
                {{ item.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="ui-grid ui-grid-responsive ui-fluid" style="margin-bottom:25px">

      <div class="ui-grid-row">
        <div class="ui-g-12 ui-md-2 ui-md-offset-10">
          <button type="button" pButton icon="fa-trash" (click)="deleteShipment()" label="Delete Shipment"
                  class="ui-button-danger"></button>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-g-12 ui-md-7 ui-sm-7">

          <div class="ui-g-12 ui-md-12 ui-sm-12">
            <div class="ui-g-12 ui-md-3 ui-sm-3 furniGridElem"><label for="date">Date</label>
              <p-calendar id="date" [(ngModel)]="incomingShipment.date"
                          showTime="true" hourFormat="24"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-2 ui-sm-2 furniGridElem">
              <label for="received_by">Received By</label>
              <p-dropdown id="received_by" [(ngModel)]="incomingShipment.received_by"
                          [options]="ASSOCIATES_LIST" [autoWidth]="false" [style]="{'width':'100%'}"
                          required="true" appendTo="body"></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-2 ui-sm-2 furniGridElem">
              <label for="numberOfBoxes"># of Boxes</label>
              <input pInputText id="numberOfBoxes" [(ngModel)]="incomingShipment.num_boxes"
                     [size]="10" style=""/>
            </div>

            <div class="ui-g-12 ui-md-3 ui-sm-3 furniGridElem">
              <label for="vendor">Vendor</label>
              <p-dropdown id="vendor" [(ngModel)]="incomingShipment.vendor" [options]="VENDORS_LIST"
                          [autoWidth]="false" [style]="{'width':'100%'}" required="true"
                          appendTo="body"></p-dropdown>
            </div>

          </div>

          <div class="ui-g-12">



          </div>

          <div class="ui-g-12">
              <label for="description">Notes</label>
              <input pInputText id="description" [(ngModel)]="incomingShipment.notes"/>
          </div>

        </div>
        <div class="ui-g-12 ui-md-5 ui-sm-5">
          <h3 class="first">Attachments</h3>
          <p-fileUpload name="file" url="{{ attachmentUploadUrl }}" (onUpload)="onUpload($event)"
                        accept="image/*,application/pdf" maxFileSize="1000000"
                        withCredentials="true" (onBeforeSend)="onBeforeUpload($event)">
            <ng-template pTemplate="content">
              <ul *ngIf="incomingShipment.files.length">
                <li *ngFor="let attachment of incomingShipment.files">

                  <a href="{{ attachment.file }}" (click)="displayAttachmentDialog($event, attachment)" target="_blank">
                    {{ getFileName(attachment.file) }}
                  </a>

                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>



      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" *ngIf="incomingShipment.items">

        <p-dataTable [value]="incomingShipment.items"  [paginator]="false" rows="5"
                     [responsive]="true" [editable]="true" [selection]="selectedItem">
          <p-header>Items Received</p-header>
          <p-column field="po_num" header="PO#" [sortable]="true" [editable]="true"></p-column>
          <p-column field="description" header="Description" [editable]="true"></p-column>
          <p-column field="so_num" header="FurniCloud SO#" [sortable]="true" [editable]="false">
            <ng-template let-item="rowData" pTemplate="body">
              <button type="button" pButton *ngIf="!item.so_num" (click)="showOrderSearch(item)"
                      [disabled]="!item.po_num" icon="fa-search" label="Add SO#" class="ui-button-info"></button>
              {{ item.so_num ? item.so_num : '' }}
            </ng-template>
          </p-column>
          <!--<p-column field="order_id" header="FurniCloud ID" [editable]="false" [style]="{width:'7em'}"></p-column>
          <p-column field="item_id" header="FurniCloud Item ID" [editable]="false" [style]="{width:'7em'}"></p-column>-->
          <p-column styleClass="col-button" [style]="{width:'10em'}">
            <ng-template pTemplate="header"></ng-template>
            <ng-template let-item="rowData" pTemplate="body">
              <button type="button" pButton (click)="showItemDetails(item)" icon="fa-search" label="View Details"></button>
            </ng-template>
          </p-column>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix" style="width: 15%">
              <button type="button" pButton icon="fa-plus" style="float:left" label="Add Items"
                      (click)="addItem()"></button>
            </div>
          </p-footer>
        </p-dataTable>

      </div>

      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-2">
        <button type="button" pButton icon="fa-check" (click)="saveShipment()" label="Save"></button>
      </div>
      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-2">
        <button type="button" pButton icon="fa-close" (click)="closeShipmentDialog()" label="Close"></button>
      </div>

      <br/> <br/>

    </div>
  </ng-template>
  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton (click)="showDialogToAdd()" icon="fa-plus" style="float:left" label="New Shipment"></button>
    </div>
  </p-footer>
</p-dataTable>

<!--
<p-dialog header="Incoming Shipment" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
          [modal]="true" [minWidth]="500" [draggable]="false" [positionTop]="20" [width]="750">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="incomingShipment">

    <div class="ui-grid-row">
      <div class="ui-g-12 ui-md-3 ui-md-offset-9">
        <button type="button" pButton icon="fa-trash" (click)="deleteShipment()" label="Delete Shipment" class="ui-button-danger"></button>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4 furniGridElem"><label for="date">Date</label>
        <p-calendar id="date" [(ngModel)]="incomingShipment.date"
                    showTime="true" hourFormat="24"></p-calendar>
      </div>
      <div class="ui-grid-col-4 furniGridElem">
        <label for="received_by">Received By</label>
        <p-dropdown id="received_by" [(ngModel)]="incomingShipment.received_by" [options]="ASSOCIATES_LIST"
                    [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
      </div>
    </div>

    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4 furniGridElem">
        <label for="vendor">Vendor</label>
        <p-dropdown id="vendor" [(ngModel)]="incomingShipment.vendor" [options]="VENDORS_LIST"
                    [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
      </div>
      <div class="ui-grid-col-4 furniGridElem">
        <label for="numberOfBoxes">Number of Boxes</label>
        <input pInputText id="numberOfBoxes" [(ngModel)]="incomingShipment.num_boxes"/>
      </div>

    </div>

    <br/>
    <div class="ui-grid-row">
      <div class="ui-grid-col-8 furniGridElem">
        <label for="description">Description</label>
        <input pInputText id="description" [(ngModel)]="incomingShipment.description"/>
      </div>
    </div>
    <br/>

    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" *ngIf="incomingShipment.items">

      <p-dataTable #dialogDt [value]="incomingShipment.items"
                   [paginator]="false" rows="5" [responsive]="true" [editable]="true" [selection]="selectedItem">
        <p-header>Items Received</p-header>
        <p-column field="po_num" header="PO#" [sortable]="true" [editable]="true"></p-column>
        <p-column field="description" header="Description" [editable]="true"></p-column>
        <p-column field="so_num" header="FurniCloud SO#" [sortable]="true" [editable]="false">
          <ng-template let-item="rowData" pTemplate="body">
            <button type="button" pButton *ngIf="!item.so_num" (click)="showOrderSearch(item)" [disabled]="!item.po_num"
                    icon="fa-search" label="Add SO#" class="ui-button-info"></button>
            {{ item.so_num ? item.so_num : '' }}
          </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{width:'10em'}">
          <ng-template pTemplate="header"></ng-template>
          <ng-template let-item="rowData" pTemplate="body">
            <button type="button" pButton (click)="showItemDetails(item)" icon="fa-search" label="View Details"></button>
          </ng-template>
        </p-column>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix" style="width: 20%">
            <button type="button" pButton icon="fa-plus" style="float:left" label="Add Items"
                    (click)="addItem()"></button>
          </div>
        </p-footer>
      </p-dataTable>

    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="closeShipmentDialog()" label="Cancel"></button>
      <button type="button" pButton icon="fa-check" (click)="saveShipment()" label="Save Shipment"></button>
    </div>
  </p-footer>
</p-dialog>
-->

<p-dialog header="Select Order" [(visible)]="displayItemDialog" [responsive]="true"
          [modal]="true" [resizable]="true" [positionTop]="30"
          [minWidth]="600"> <!--[width]="900" -->
  <div *ngIf="selectedItem">


      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <input type="text" pInputText placeholder="SO#" [(ngModel)]="so_num">
          <button pButton type="button" icon="fa-search" class="ui-button-secondary"
                  (click)="lookupFurniCloudItems()"></button>
        </div>
      </div>


    <div class="ui-g-12 ui-md-12" *ngIf="furnicloudItems">
      <p-dataTable [value]="furnicloudItems" [paginator]="false" [selectionMode]="singleline"
                   rows="5" [responsive]="false" [(selection)]="selectedSOItem" *ngIf="selectedItem"
                   dataKey="pk" [scrollable]="true" scrollHeight="200px">
        <p-header>Receive FurniCloud Items</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
        <p-column field="so_num" header="SO#"></p-column>
        <p-column field="status" header="Status"></p-column>
        <p-column field="description" header="Description"></p-column>
        <p-column field="po_num" header="Item PO#"></p-column>
        <p-column field="po_date" header="Item PO Date" [sortable]="true">
          <ng-template pTemplate="body" let-col let-item="rowData">
            <span>{{ item[col.field] | date:'yyyy-MM-dd':'PDT' || '' }}</span>
          </ng-template>
        </p-column>
        <p-column field="pk" header="ID"></p-column>

      </p-dataTable>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" style="">
          <button type="button" pButton icon="fa-plus" label="Select Item" (click)="saveItem($event)"
                  style="float: left; width: 20%"></button>
          <button type="button" pButton icon="fa-check" (click)="displayItemDialog=false" label="Cancel"
                  style="float:left; width:20%"></button>
        </div>
      </p-footer>

    </div>

  </div>

</p-dialog>

<p-dialog header="PO Items" [(visible)]="displayItemDetailDialog" [responsive]="false" showEffect="fade"
          [modal]="true" [resizable]="false" [positionTop]="30" [minWidth]="600"> <!--[width]="900"-->

  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedItem">

    <div class="ui-grid-row">
      <div class="ui-g-12 ui-md-2 ui-md-offset-10">
        <button type="button" pButton icon="fa-trash" style="float:right" (click)="deleteItem()" label="Delete Item" class="ui-button-danger"></button>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">PO#:</div>
      <div class="ui-grid-col-8">
        {{ selectedItem.po_num }}
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">Description:</div>
      <div class="ui-grid-col-8">
        {{ selectedItem.description }}
      </div>
    </div>

    <br/>
    <div *ngIf="selectedItem.item_id">
      <fieldset>
        <legend>FurniCloud Item Info</legend>

        <div class="ui-grid-row">
          <div class="ui-grid-col-4">SO#:  {{ selectedItem.so_num }}</div>
          <div class="ui-grid-col-4">Order Sold Date: {{ selectedItem.order?.order_date | date:'yyyy-MM-dd' || '' }}</div>
        </div>
        <br/>

        <div class="ui-grid-row">
          <div class="ui-grid-col-4">PO#:  {{ selectedItem.so_num }}</div>
          <div class="ui-grid-col-4">PO Date: {{ selectedItem.item?.po_date | date:'yyyy-MM-dd' || '' }}</div>
          <div class="ui-grid-col-4">Item Status:  {{ selectedItem.item?.status }}</div>
        </div>
        <br/>

        <div class="ui-grid-row">
          <div class="ui-grid-col-4">Vendor Ack#:  {{ selectedItem.item?.ack_num }}</div>
          <div class="ui-grid-col-4">Ack. Date: {{ selectedItem.item?.ack_date | date:'yyyy-MM-dd' || '' }}</div>
        </div>
        <br/>

        <div class="ui-grid-row">
          <div class="ui-grid-col-4">Customer: {{ selectedItem.order?.customer }}</div>
        </div>
        <br/>

        <div class="ui-grid-row">
          <div class="ui-grid-col-4">Store: {{ selectedItem.order?.store }}</div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-4">Order Status: {{ selectedItem.order?.status }}</div>
        </div>

      </fieldset>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="closeItemDetailDialog()" label="Cancel"></button>
    </div>
  </p-footer>

  <!--<p-dataTable [value]="selectedItem" [paginator]="false" [selectionMode]="multiline"
               rows="15" [responsive]="true" [(selection)]="selectedSOItems" *ngIf="selectedSO" dataKey="pk">
    <p-header>Items to receive</p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column field="pk" header="ItemID"></p-column>
    <p-column field="status" header="Status"></p-column>
    <p-column field="description" header="Description"></p-column>
    <p-column field="po_num" header="Item PO#"></p-column>
    <p-column field="po_date" header="Item PO Date" [sortable]="true">
      <ng-template pTemplate="body" let-col let-item="rowData">
        <span>{{ item[col.field] | date:'yyyy-MM-dd':'PDT' || ''}}</span>
      </ng-template>
    </p-column>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix" style="">
        <button type="button" pButton icon="fa-plus" label="Select Items" (click)="assignShipmentItems($event)" style="float: left; width: 20%"></button>
        <button type="button" pButton icon="fa-check" (click)="displayItemDialog=false" label="Cancel" style="float:left; width:20%"></button>
      </div>
    </p-footer>
  </p-dataTable>-->

</p-dialog>

<p-dialog [(visible)]="attachmentURL" [modal]="true" [positionTop]="30" [positionLeft]="30" >
  <a href="{{ attachmentURL }}" target="_blank"
     style="color: #0f2983; display: block; text-decoration: underline;">
    Open in a new tab</a> <br/>
  <img src="{{ attachmentURL }}" style="max-height: 400px; width: auto;"/>
  <p-footer>
    <div class="ui-helper-clearfix">
      <button type="button" pButton (click)="attachmentURL=''" icon="fa-close" label="Close"></button>
    </div>
  </p-footer>
</p-dialog>
